/* general styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(194, 194, 194);
 
}
/*Icon styles */
.brandIcon{
  font-size: 60px;
  margin: -8px -20px;
  color: rgb(1, 212, 64);
  
}

.cartIcon{
  font-size: 44px;  
  color: rgb(29, 28, 28);
}


/*navbar styles */
.container-fluid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navBar{
  padding: 20px; 
  margin-bottom: 30px;
  background-image: linear-gradient(135deg, crimson, coral); 
}

.navbarBrand{
  color: rgb(21, 21, 21);
  font-weight: 900;
  font-size: 3.2em;
  text-decoration: none;
}

.card{
  margin: 20px;
}


/* Color of the navbar AFTER scroll */


/* An optional height of the navbar AFTER scroll */
